* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(249, 250, 249);
  display: flex;
  flex-direction: column;
  background-color: #f8f8ff;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 80px;
  justify-content: space-between;
}

#email {
  height: 40px;
  width: 150px;
  margin: auto;
  margin-right: 7px;
  border-radius: 7px;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Mulish', sans-serif; 
  padding-left: 10px;
  font-size: medium;
  font-weight: 600;
}

#senha {
  height: 40px;
  width: 150px;
  margin: auto;
  border-radius: 8px;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Mulish', sans-serif; 
  padding-left: 10px;
  font-size: medium;
  font-weight: 600;
}

#button{
  height: 42px;
  width: 150px;
  margin: auto;
  margin-right: 5px;
  margin-left: 8px;
  border-radius: 7px;
  background-color: #5359be;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Mulish', sans-serif; 
  font-weight: 700;
  font-size: medium;
  outline: none;
  border-color: none;
  color: #f8f8ff;
  cursor: pointer;
  transition: 0.8s;
}

#button:hover {
  background-color: #3a3fa1;
}

.trybewarts-header-logo {
  padding: 10px;
  justify-content:left ;
  height: 500px;
  z-index: auto;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  display: flex;
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #f8f8ff;
  margin: auto;
  font-weight: 500;
  transition: 0.8s;
}

#trybewarts-header-title:hover{
  color: #f0f0f0;
  opacity: 0.7;
}


main {
  display: flex;
}

#main-container {
font-family: 'Roboto', sans-serif; 
letter-spacing: 0.8px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 520px;
  margin-left: 70px;
  margin-top: -70px;
}

#formulario{
margin-top: 70px;
margin-left: 40px;
font-size:xx-large;
font-family: 'Mochiy Pop P One', sans-serif;
letter-spacing: 3px;
color: rgb(54, 54, 54);
display: flex;
}


#form-container {
  display: flex;
  margin: 50px 10px;
  height: 400px;
  margin-left: 30px;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
}

#family-container {
  display: flex;
  flex-direction: column;
}

.family-input {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 10px;
}

#family-label {
  margin: 20px 0;
}

section {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

#aside-right {
  margin-top: 20px;
  margin-left: 50px;
}

.rate {
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Mulish', sans-serif; 
letter-spacing: 1px;
}

#rodape{
  width: 100%;
  height: 80px;
  background-color: #616161;
  text-align: center;
  margin-top: 80px;
}

#text-foot{
 color: #f8f8ff;
 text-align: center;
 letter-spacing: 2px;
 margin-top: 25px;
 font-family: 'Mochiy Pop P One', sans-serif;
 font-family: 'Mulish', sans-serif;
 font-weight: 400;
}