* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 80px;
  justify-content: space-between;
}

#email {
  height: 40px;
  width: 150px;
  margin: auto;
  margin-right: 7px;
  border-radius: 7px;
  font-family: Mochiy Pop P One, sans-serif;
  padding-left: 10px;
  font-size: medium;
  font-weight: 600;
}

#senha {
  height: 40px;
  width: 150px;
  margin: auto;
  border-radius: 8px;
  font-family: Mochiy Pop P One, sans-serif;
  padding-left: 10px;
  font-size: medium;
  font-weight: 600;
}

#button {
  height: 42px;
  width: 150px;
  margin: auto;
  margin-right: 5px;
  margin-left: 8px;
  border-radius: 7px;
  background-color: rgb(83, 89, 190);
  font-family: Mochiy Pop P One, sans-serif;
  font-weight: 700;
  font-size: medium;
  outline: none;
  border-color: none;
  color: ghostwhite;
  cursor: pointer;
  transition: 0.8s;
}

#button:hover {
  background-color: rgb(50, 54, 141);
}

.trybewarts-header-logo {
  padding: 15px;
  align-items: center;
  height: 500px;
  display: flex;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  display: flex;
  font-family: Mochiy Pop P One, sans-serif;
  color: ghostwhite;
  margin: auto;
  font-weight: 500;
  transition: 0.8s;
}

#trybewarts-header-title:hover {
  color: ghostwhite;
  opacity: 0.7;
}


main {
  display: flex;
}

#main-container {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.8px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#input-name {
  height: 25px;
  border-radius: 4px black;
  padding-left: 4px;
  font-size: 1rem;
}

.name {
  font-size: 20px;
  margin-right: 5px;
  font-weight: 600;
}

.sobrenome {
  font-size: 20px;
  margin-right: 5px;
  font-weight: 600;
  margin-left: 15px;
}

#input-email {
  height: 25px;
  border-radius: 4px black;
  padding-left: 4px;
  font-size: 1rem;
  margin-top: 10px;
}

.email {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 4px;
}

#input-lastname {
  height: 25px;
  border-radius: 4px black;
  padding-left: 4px;
  font-size: 1rem;
  margin-top: 10px;
}

#house {
  height: 25px;
  border-radius: 4px black;
  padding-left: 4px;
  font-size: 1rem;
  margin-top: 10px;
}

.casa {
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 4px;
}

#radio-box {
  margin-top: 5px;
  margin-right: 6px;
}


#trybewarts-forms-logo {
  height: 500px;
  margin-left: 70px;
  margin-top: -70px;
}

#formulario {
  margin-top: 70px;
  margin-left: 75px;
  font-size: xx-large;
  font-family: Mochiy Pop P One, sans-serif;
  letter-spacing: 3px;
  color: rgb(54, 54, 54);
  display: flex;
  cursor: pointer;
  transition: 0.5s;
}

#formulario:hover {
  opacity: 0.7;
}


#form-container {
  display: flex;
  margin: 50px 10px;
  height: 400px;
  margin-left: 30px;
  font-family: Mochiy Pop P One, sans-serif;
  font-weight: 500;
}

#family-container {
  display: flex;
  flex-direction: column;
}

.family-input {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 10px;
}

#family-label {
  margin: 20px 0;
}

section {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

#aside-right {
  margin-top: 20px;
  margin-left: 50px;
}

#submit-btn {
  margin-top: 15px;
  background-color: rgb(83, 89, 190);
  height: 50px;
  border-radius: 8px;
  color: ghostwhite;
  font-family: Mochiy Pop P One, sans-serif;
  font-size: 35px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.8s;
}

#submit-btn:hover {
  background-color: rgb(50, 54, 141);
}

.rate {
  font-family: Mochiy Pop P One, sans-serif;
  letter-spacing: 1px;
}

#rodape {
  width: 100%;
  height: 80px;
  background-color: rgb(97, 97, 97);
  text-align: center;
  margin-top: 80px;
}

#text-foot {
  color: ghostwhite;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: Mochiy Pop P One, Mulish, sans-serif;
  font-weight: 400;
}
